@font-face {
    font-family: 'charcoalregular';
    src: url('../Fonts/charcoal-webfont.woff2') format('woff2'),
         url('../Fonts/charcoal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon-div{
    border-style: dashed;
    border-color: #939598;
    width: 110%;
    right: 10%;
    left: 10%;
}

.icon-img{

}

.icon-label{
    font-family: 'charcoalregular';
}

.images-div{
    float: right;
}